@model IEnumerable<AjaxDropDown.Models.Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dist.DistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
